html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.adc-responsiveTable {
   width: 100%;
}
.adc-responsiveTable table {
   width: 100%;
   margin:0;
   padding: 0;
   border-collapse: separate;
   border-spacing: 0;
}
.adc-responsiveTable th {
   font-weight: normal;
   z-index: 3;
}
.adc-responsiveTable td:hover, .adc-responsiveTable  input[type="checkbox"], .adc-responsiveTable  input[type="radio"], .adc-responsiveTable .imgZoom {
   cursor: pointer;
}
.adc-responsiveTable .respLabel {
   position: relative;
}
.adc-responsiveTable .respLabel:hover {
   cursor: auto;
}
.adc-responsiveTable .imgZoom {
    position: absolute;
    background: url(magnifyingGlass.png) center center no-repeat;
    bottom: 7px;
    right: 2px;
    width: 22px;
    height: 22px;
    z-index: 2;
}
.adc-responsiveTable .imgZoom:hover {
    border: 1px solid transparent;
}
/* simplbox lightbox styling */
#simplbox {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #999999;
    ms-touch-action: none;
    touch-action: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

#simplbox-overlay {
    background-color: #e5e5e5;
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#simplbox-loading {
    position: fixed;
    z-index: 13;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
