<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.1.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.1.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.1.0/ADCSchema.xsd"
          version="2.1.0"
          askiaCompat="5.4.2">
  <info>
    <name>ResponsiveTable</name>
    <guid>28609424-856b-40c8-ba88-5b29a439720a</guid>
    <version>2.0.8</version>
    <date>2016-05-02</date>
    <description><![CDATA[Responsive Grid Table
		v1.0.1 
			- Added support of the loop images
			- Added zoom for the loop images
		v1.0.2 
			- Added support of the responses images
		v1.0.3 
			- Added zoom for the response images
		v1.0.4 
			- fixed Microsoft Edge Fixed Header
		v1.0.5 
			- fixed Microsoft Edge Fixed Header
		v1.0.6 
			- Added Show Header, Responsive Direction and Responsive Vertical Alignment properties
		v1.0.7 
			- Fixed padding right responses and added property Use Header Style First Column
		v1.0.8 
			- fixed Show Loop Captions
		v1.0.9 
			- fixed image zoom padding
		v1.0.10 
			- fixed border top raduis when show header equal no
		v1.0.11 
			- fixed first column alignement
		v1.0.12 
			- fixed padding small screen statement
		v1.0.13 
			- fixed multiple input name not saved
		v1.0.14 
			- Width 97% for response on responsive state
		v1.0.15 
			- fixed loop with preliminary selection
		v2.0.0
			- Compatibility with Theme and new option display as accordion
		v2.0.2
			- Changed class display and row to askiadisplay and askiarow
		v2.0.3
			- Fixed respLabel styling issue
        v2.0.6
            - Added header orientation property
		v2.0.7
            - Added backgroundcolor for accordion
		v2.0.8
            - removed underline for row header hover
		v2.0.11
			- Added span to labels, links and table headers
			- Modifications for HTML5 compatibility]]></description>
    <company>Askia</company>
    <author><![CDATA[Jérôme Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL></helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" chapter="false" single="true" multiple="true" numeric="false" date="false" open="false" requireParentLoop="true" />
      <constraint on="controls" responseblock="true" label="false" textbox="false" checkbox="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="default">
    <output id="default">
      <description><![CDATA[Default output]]></description>
      <condition><![CDATA[Browser.Support("javascript")]]></condition>
      <content fileName="responsiveTable.css" type="css" mode="static" position="head" />
      <content fileName="styles.css" type="css" mode="dynamic" position="head" />
      <content fileName="stylesie9.html" type="html" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="simplbox.js" type="javascript" mode="static" position="foot" />
      <content fileName="responsiveTable.js" type="javascript" mode="static" position="foot" />
      <content fileName="Initializer.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="magnifyingGlass.png" type="image" mode="static" position="none" />
    </output>
    <output id="fallback">
      <description><![CDATA[Fallback output]]></description>
      <condition><![CDATA[Not(Browser.Support("javascript"))]]></condition>
      <content fileName="responsiveTable.css" type="css" mode="static" position="head" />
      <content fileName="styles.css" type="css" mode="dynamic" position="head" />
      <content fileName="stylesie9.html" type="html" mode="dynamic" position="head" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
  </outputs>
  <properties>
    <category id="General" name="General">
      <property xsi:type="standardProperty" id="controlWidth" name="Control Max Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The max width of the control]]></description>
        <value><![CDATA[900px]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstColumnWidth" name="First Column Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The size in percentage of the first column of the table]]></description>
        <value><![CDATA[40]]></value>
        <options>
          <option value="5" text="5%" />
          <option value="10" text="10%" />
          <option value="15" text="15%" />
          <option value="20" text="20%" />
          <option value="25" text="25%" />
          <option value="30" text="30%" />
          <option value="35" text="35%" />
          <option value="40" text="40%" />
          <option value="45" text="45%" />
          <option value="50" text="50%" />
          <option value="55" text="55%" />
          <option value="60" text="60%" />
          <option value="65" text="65%" />
          <option value="70" text="70%" />
          <option value="75" text="75%" />
          <option value="80" text="80%" />
          <option value="85" text="85%" />
          <option value="90" text="90%" />
          <option value="95" text="95%" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstColumnAlign" name="First Column Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the text of the first column]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="firstColumnFontSize" name="First Column Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size of the first column]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="headerRowAlign" name="Header Row Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the text of the header row]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="headerRowVerticalAlign" name="Header Row Vertical Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The vertical alignment of the text of the header row]]></description>
        <value><![CDATA[middle]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="middle" text="Middle" />
          <option value="bottom" text="Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="headerRowFontSize" name="Header Row Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size of the text of the header row]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dropShadow" name="Drop Shadow" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Drop Shadow]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="On" />
          <option value="no" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="headerFixed" name="Header Always visible" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Header Always visible]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showHeader" name="Show Header" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show Header]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
    </category>
    <category id="Responsive" name="Responsive">
      <property xsi:type="standardProperty" id="responsiveDirection" name="Responsive Direction" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Direction of the responses]]></description>
        <value><![CDATA[vertical]]></value>
        <options>
          <option value="vertical" text="Vertical" />
          <option value="horizontal" text="Horizontal" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responsiveWidth" name="Responsive Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The width value for the table to be splitted (media queries)]]></description>
        <value><![CDATA[600px]]></value>
      </property>
      <property xsi:type="standardProperty" id="responsiveTextAlign" name="Responsive Text Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the text of the responses for the responsive splitted version]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responsiveVerticalAlign" name="Responsive Vertical Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Responsive Vertical Alignment of the responses]]></description>
        <value><![CDATA[middle]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="middle" text="Middle" />
          <option value="bottom" text="Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responsiveFontSize" name="Responsive Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size of the text of the responses for the responsive splitted version]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="responsiveHeaderAlign" name="Responsive Header Text Alignment" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[The alignment of the header text for the responsive splitted version]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="responsiveHeaderFontSize" name="Responsive Header Font Size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size of the header for the responsive splitted version]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="hideInputs" name="Hide Inputs" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Hide inputs]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="accordion" name="Display as accordion" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Display as accordion]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="Border" name="Border">
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the table corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderColour" name="Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderThickness" name="Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderStyle" name="Border Style" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The style of the border]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showBorderColumn" name="Show Border on Columns" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show Border on Columns]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
    </category>
    <category id="Styles" name="Styles">
      <property xsi:type="standardProperty" id="headFontColor" name="Head Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the head]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="headBgPrimaryColor" name="Head Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Head Background Color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="oddFontColor" name="Odd Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the odd responses]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="oddBgPrimaryColor" name="Odd Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Odd Background Color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="evenFontColor" name="Even Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the even responses]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="evenBgPrimaryColor" name="Even Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Even Background Color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="hoverFontColor" name="Hover Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the hover responses]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="hoverBgPrimaryColor" name="Hover Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Hover Background Color]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="selectedFontColor" name="Selected Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the selected responses]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="selectedBgPrimaryColor" name="Selected Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Selected Background Color]]></description>
        <value><![CDATA[{%= Theme.SecondaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="hightlightRowOnHover" name="Hightlight Row on Hover" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Hightlight Row on Hover]]></description>
        <value><![CDATA[no]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="highlightFontColor" name="Highlight Font Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[The font color of the highlighted row]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="highlightBgPrimaryColor" name="Highlight Background Color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[Highlighted Background Color]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="useHeaderStyleFirstColumn" name="Use Header Style First Column" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Use the header style for the first column]]></description>
        <value><![CDATA[yes]]></value>
        <options>
          <option value="yes" text="Yes" />
          <option value="no" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="checkmarkColor" name="Responsive checkmark color" type="color" mode="dynamic" require="true" visible="false" colorFormat="rgb">
        <description><![CDATA[the color of the checkmark in accordion mode]]></description>
        <value><![CDATA[141,198,63]]></value>
      </property>
      <property xsi:type="standardProperty" id="headTextOrientation" name="Reader text orientation" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[]]></description>
        <value><![CDATA[horizontal]]></value>
        <options>
          <option value="horizontal" text="Horizontal" />
          <option value="vertical" text="Vertical" />
        </options>
      </property>
    </category>
    <category id="Images" name="Images">
      <property xsi:type="standardProperty" id="maxLoopImagesWidth" name="Max Loop Images Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Max Loop Images Width]]></description>
        <value><![CDATA[70px]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceLoopImagesWidth" name="Force Loop Images Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Force Loop Images Width]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="loopImagesPosition" name="Loop Images Position" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Loop Images Position]]></description>
        <value><![CDATA[top]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="bottom" text="Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showLoopCaptions" name="Show Loop Captions" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show Loop Captions]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showLoopImagesZoom" name="Show Loop Images Zoom" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show Loop Images Zoom]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="maxImagesWidth" name="Max Responses Images Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Max Responses Images Width]]></description>
        <value><![CDATA[40px]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImagesWidth" name="Force Responses Images Width" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Force Responses Images Width]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imagesPosition" name="Responses Images Position" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Responses Images Position]]></description>
        <value><![CDATA[top]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="bottom" text="Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imagesPositionResponsive" name="Responses Images Position Responsive" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Responses Images Position Responsive]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="right" text="Right" />
          <option value="bottom" text="Bottom" />
          <option value="left" text="Left" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showResponsesCaptions" name="Show Responses Captions" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show Responses Captions]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showImagesZoom" name="Show Responses Images Zoom" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show Responses Images Zoom]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
  </properties>
</control>